{:all-clauses
 {:must-keyword {:tags ["kanban"], :type ["note"]},
  :must-match-any {:project-id ["hive-mcp"]}},
 :empty {},
 :empty-tags-skip {},
 :hcr-plural-wins
 {:must-match-any {:project-id ["hive-mcp" "hive-knowledge"]}},
 :pid-plural
 {:must-match-any {:project-id ["hive-mcp" "hive-knowledge"]}},
 :pid-singular {:must-match-any {:project-id ["hive"]}},
 :tags-only {:must-keyword {:tags ["kanban" "todo"]}},
 :type-only {:must-keyword {:type ["note"]}}}
