{:default
 ["id"
  "type"
  "tags"
  "project-id"
  "duration"
  "created-at"
  "created"
  "updated"
  "content-hash"
  "expires"],
 :explicit-false
 ["id"
  "type"
  "tags"
  "project-id"
  "duration"
  "created-at"
  "created"
  "updated"
  "content-hash"
  "expires"],
 :include-content
 ["id"
  "type"
  "tags"
  "project-id"
  "duration"
  "created-at"
  "created"
  "updated"
  "content-hash"
  "expires"
  "content"],
 :other-keys-noop
 ["id"
  "type"
  "tags"
  "project-id"
  "duration"
  "created-at"
  "created"
  "updated"
  "content-hash"
  "expires"]}
